<div class="content-wrapper col-lg-9">
    <section class="content-header"></section>
    <section class="content">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <div class="account-side account-side-1 account-det bg-info card">
                  <a href="/account"></a><strong><i class="fas fa-user mr-1"></i> Account</strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-cog mr-1"></i> Account Setting</strong>
                </div><hr>
                <div class="account-side account-verification" verify="100">
                  <a href="/account_verification"></a><strong><i class="fas fa-address-card mr-1"></i> Account Verification</strong>
                </div><hr>
                <div class="account-side account-level">
                  <strong><i class="fas fa-user-graduate mr-1"></i> Account Level <span class="btn btn-sm btn-default float-right bold">1</span></strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-comment mr-1"></i> Contact Chat</strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-book mr-1"></i> Exchange History</strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-user-plus mr-1"></i> Referrals</strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-star mr-1"></i> Reviews</strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-chess-queen mr-1"></i> Learn & Earn</strong>
                </div><hr>
                <div class="account-side">
                  <strong><i class="fas fa-gift mr-1"></i> Send a Gift</strong>
                </div><hr>
              </div>
            </div>
          </div>