</div>

<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="dist/js/adminlte.min.js"></script>
</body>
</html>
<script>
    $('.mininorbartbtn').click(function(){
        $('.dtretsidebar22').toggle();
    });
    $('.contentregBut').click(function(){
        $('.contentdet').hide();
        $('.contentreg').show();
    });
    function currencyList(){
      document.getElementById('currency-list').innerHTML = "Currency";
      $('#currency-list').text('sdfghtr');
    }
    document.getElementById('currency-list').onload = function() {currencyList()}
  </script>